# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE & Editor
.idea
.vscode
.cursor

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage
.nyc_output
**/*.spec.ts
**/*.e2e-spec.ts

# Environment files
.env
.env.*
!.env.example

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
.husky/
